
Download automático de planilhas de relatórios/config.txt
Extrair informações dos relatórios html/invalidos.txt
Download automático de planilhas/config.txt
Extrair informações dos relatórios html/arquivosVerificados.txt
Extrair informações dos relatórios html/novosNumeros.txt
Extrair informações dos relatórios html/numerosValidos.txt
